<html lang="en">
    <style>
        body {
            background-color:#222;
            position:relative;
        }

        .main {
            position:relative;
            box-sizing:border-box;
            background-color:#FFF;
            margin-left:auto;
            margin-right:auto;
            overflow:hidden;
            width:210mm;
            height:297mm;
            padding:15mm;
        }
    </style>

    <script> setTimeout(function(){ window.location.reload(1); }, 1000); </script>

    {% include 'templates/cv-base.html' %}
</html>
